<div class="index-header">
  <div class="big-header big-header--back"></div>
  <div class="big-header container">
    <div class="banner-page-name">
      <p>AAC</p>
      <h2 class="page-title">廉正案件</h2>
    </div>
  </div>
</div>

<div class="body">
  <div class="container shadow-3d">
    <div class="out-conatainer row">
      <div class="article-header text-center">
        <h1 id="mayor" class="article-title"></h1>
      </div>
    </div>
    <div class="row pdLR1x body-content">
      <div class="container">
        <div class="row">
          <div class="col-md-3 page-block">
            <div class="article-content">
              <div id="privacy" class="article-header">
                <h4 class="article-title">點選連結 E-mail</h4>
              </div>
              <p class="navy maB2x">
                <a class="btn btn-orange fall-width" href="mailto:2982742@mail.tainan.gov.tw"> <i class="fa fa-envelope-o"></i>&nbsp;&nbsp;&nbsp;我要寫信檢舉</a>
              </p>
            </div>
          </div>
          <div class="col-md-7 page-block">
              <div class="article-content">
                <div id="privacy" class="article-header">
                  <h4 class="article-title">檢舉方式</h4>
                </div>
                <p class="navy maB2x">
                  您好，若您要檢舉貪污瀆職等須保密之廉政案件，
                  <br> 請直接點選本項，將可直接由政風單位專案處理，
                  <br> 免去案件再轉之流程，加速您的案件處理速度。
                  <br> 或是直接透過 E-mail: 2982742@mail.tainan.gov.tw。
                  <br>
                </p>
              </div>

            </div>
        </div>

      </div>
    </div>
  </div>
</div>
