.index-header {
  height: 295px;
}
.banner-page-name .page-title {
  z-index: 0 !important;
}

.big-header {
  height: 350px;
  @media screen and (max-width: 1024px) {
    background-position: center;
    background-size: cover;
  }
}
.banner-page-name {
  @media screen and (max-width: 768px) {
    background-position: center;
    background-size: cover;
    bottom: 20px;
  }
}
.out-conatainer {
  .article-header:after {
    content: initial;
  }
  .article-header:before {
    top: -29px;
  }
}
.page-block {
  .article-header:after {
    content: initial;
  }
}
.body-content {

  .article-title {
    font-size: 24px;
    padding-left: 0;
    color: black;
    background: transparent;
    display: inline-block;
    &:after {
      content: "";
      position: absolute;
      width: 80%;
      height: 20px;
      left: 1em;
      background-color: rgba(228, 183, 82, .1);
      bottom: -0.2em;

    }
  }


  .article-lable small{
    background: #F84400;
    color: white;
    padding: 2px 5px;
    font-size: .8em;
  }
}
