<div class="index-header">
  <div class="big-header big-header--back"></div>
  <div class="big-header container">
    <div class="banner-page-name">
      <p>Site Map</p>
      <h2 class="page-title">網站地圖</h2>
    </div>
  </div>
</div>

<div class="body" *ngIf="!displayDetail">
  <div class="container shadow-3d">
    <div class="out-conatainer row">
      <div class="article-header text-center">
        <h1 id="mayor" class="article-title"></h1>
      </div>
    </div>
    <div class="row pdLR1x body-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 page-block">
            <div class="article-header text-center">
              <h4 id="mayor_mailbox" class="article-title">案件相關</h4>
            </div>
            <div class="article-content">
              <ul class="navy">
                <li><a>市長信箱</a></li>
                <li><a>案件查詢</a></li>
                <li><a>案件處理滿意度</a></li>
              </ul>
            </div>
          </div>


          <div class="col-md-4 page-block">
            <div class="article-header text-center">
              <h4 id="mayor_mailbox" class="article-title">服務中心</h4>
            </div>
            <div class="article-content">
                <ul class="navy">
                    <li><a>常見問題 ＦＡＱ</a></li>
                    <li><a>服務流程</a></li>
                    <li><a>隱私權保護政策</a></li>
                    <li><a>網路安全政策</a></li>
                    <li><a>著作權聲明</a></li>
                    <li><a>最新消息</a></li>
                  </ul>
            </div>
          </div>


          <div class="col-md-4 page-block">
            <div class="article-header text-center">
              <h4 id="mayor" class="article-title">連外服務</h4>
            </div>
            <div class="article-content">
                <ul class="navy">
                    <li><a>廉政案件</a></li>
                    <li><a>派工案件查詢</a></li>
                    <li><a>台南政府全球資訊網</a></li>
                    <li><a>網路安全政策</a></li>
                    <li><a>著作權聲明</a></li>
                    <li><a>最新消息</a></li>
                  </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
