<div class="body" *ngIf="!displayDetail">
  <div class="container shadow-3d">
    <div class="out-conatainer row">
      <div class="article-header text-center">
        <h1 id="mayor" class="article-title"></h1>
      </div>
    </div>
    <div class="row pdLR1x body-content">
      <div class="container" >
        <div class="row" *ngIf="reply">
          <div class="col-md-4 page-block maB2x">
              <div class="article-content">
                  <p class="article-lable require">問題內容</p>
                  <p class="navy maB2x">{{reply.IssueContent}}</p>
                  <div class="row">
                      <div class="col-md-6">
                          <p class="article-lable require">回覆單位 </p>
                          <p class="navy maB2x pdLHalfX">{{reply.ReplyOrganName}}</p>
                          <p class="article-lable require">張貼日期</p>
                          <p class="navy maB2x pdLHalfX">{{reply.PostDate}}</p>
                      </div>
                      <div class="col-md-6">
                          <p class="article-lable require">問題類別</p>
                          <p class="navy maB2x pdLHalfX">{{reply.IssueKind}}</p>
                          <p class="article-lable require">修改日期</p>
                          <p class="navy maB2x pdLHalfX">{{reply.ReviseDate}}</p>
                      </div>
                      <div class="col-md-12">
                          <p class="article-lable require">人氣指數</p>
                          <p class="navy maB2x pdLHalfX">{{reply.ViewCount}}</p>
                      </div>
                      <div class="text-center col-md-12">
                          <a class="btn btn-orange fall-width hidden-xs hidden-sm" href="javascript:void(0);" (click)="goBack()">繼續查詢問題</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-8 page-block">
              <div class="article-content">
                  <p class="article-lable require">處理情形(答覆內容)</p>
                  <p class="navy maB2x" style="white-space: pre-line;">{{reply.ReplyContent}}</p>
              </div>
              <div class="text-center">
                  <a class="btn btn-orange fall-width hidden-md hidden-lg" href="javascript:void(0);" (click)="goBack()">繼續查詢問題</a>
              </div>
          </div>

      </div>
      </div>
    </div>
  </div>
</div>
