.index-header {
  height: 295px;
}
.banner-page-name .page-title {
  z-index: 0 !important;
  text-align: left;
}

.big-header {
  height: 350px;
  @media screen and (max-width: 1024px) {
    background-position: center;
    background-size: cover;
  }
}
.banner-page-name {
  @media screen and (max-width: 768px) {
    background-position: center;
    background-size: cover;
    bottom: 20px;
  }
}
.out-conatainer {
  .article-header:after {
    content: initial;
  }
  .article-header:before {
    top: -29px;
  }
}
.body-content {
  .article-lable small{
    background: #F84400;
    color: white;
    padding: 2px 5px;
    font-size: .8em;
  }
}



.search {
  @media screen and (max-width: 768px) {
    width: inherit;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  &.active {
    display: block;
  }
  .search-lable {
    display: inline-block;
    width: 100%;
    height: 40px;
    max-width: 250px;
    padding: 0 10px;
    @media screen and (max-width: 768px) {
      max-width: none;
    }
    input {
      width: 100%;
      color: #345;
      border: none;
    }
    select {
      position: absolute;
      top: 0;
      left: 10px;
      height: 80%;
      width: 98%;
      opacity: 0;
      z-index: 3;
      color: #345;
      &:focus {
        outline: none;
      }
    }
  }
  .search-btn {
    padding: 10px 0;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #2C3A4F;
    color: #fff;
    font-size: 1.25em;
    margin-top: 1em;
  }
  .border-bottom {
    border-bottom: 1px solid #ddd
  }
}


.faq {
  border: #2C3A4F 1px solid;
  margin-top: 21px;
  font-size: 1.15em;
  a {
    color: black;
  }
  @media screen and (max-width: 768px) {
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .faq-head {
    padding: 14px 10px;
    box-sizing: border-box;
    font-size: 1em;
    color: #fff;
    background: #2C3A4F;
  }
  .faq-item {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 10px;
    border-bottom: #2C3A4F 1px solid;
    &:last-child {
      border: none;
    }
    div:first-child a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 700;
      &:hover {
        color: #AA3634;
      }
    }
    &.active div:first-child {
      padding-bottom: 10px;
      & .col-md-6 {
        border-bottom: 1px solid #2C3A4F;
      }
    }
    &.active div:nth-child(n+2) {
      display: block;
    }
    @media screen and (max-width: 768px) {
      div:first-child a {
          width: 80%;
      }
      div:nth-child(2) {
          display: none;
          padding-top: 14px;
          padding-bottom: 14px;
      }
      div:nth-child(2):before {
          content: "回覆單位";
          color: #797C83;
          padding-right: 5px
      }
      div:nth-child(3) {
          display: none;
      }

      div:nth-child(3):before {
          content: "累計人氣";
          color: #797C83;
          padding-right: 5px;
      }
      div:nth-child(4) {
          display: none;
      }
    }
  }
}



.faq-open {
  border-left: #2C3A4F 1px solid;
  padding-left: 12px;
  padding-right: 5px;
  color: #2C3A4F
}
.faq-open i {
  transition: transform .5s
}
.faq-open i.active {
  transform: rotateZ(180deg)
}

.page {
    display: inline-block;
    padding-left: 0;
    list-style: none;
    clear: both;
    li {
        float: left;
        font-size: 1.125em;
        padding: .5em 1em;
        margin-right: 3px;
        border: 1px solid transparent;
        border-radius: 3px;
        background: #2C3A4F;
        a {
            color: white;
        }
    }
    .page-alpha {
        position: relative;
        opacity: 0;
        width: 34.69px;
        height: 39.75px;

        a {
            cursor: initial;
        }
        &:before {
            content: "0"
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            height: 100%;
            width: 100%;
        }
    }
    .page-first,
    .page-final {
        margin: 0 .5em;
        color: #2C3A4F;
        background: transparent;
        a {
            color: #2C3A4F;
        }

    }
}
.pdLR2x {
  @media screen and (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}
